body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem ;
    color: #66BFBF;
    /* line-height: 2; */
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    background-color: #E9F8F9;
    position: relative;
    padding-top: 100px;
}

   /* margin: 0 auto 0 auto; 5%- all side| 1.6em 20px- top and bottom, left and right| 10% 20% 30%- top, left and right, bottom|*/
/*margin:0; auto top and bottom-0 margin and Box is horizontally centered*/

.t-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.b-cloud{
    position: absolute;
    left: 250px; 
    bottom: 300px; /*bottom=300px means distance between bottom edge of cloud and bottom of top-container*/
    /* this element has taken out of the html flow for centering mountain and all and position has taken absolute relative to top container */
} 

/* .middle-container {
    position: relative;
} */


.middle-container{
    margin: 100px 0;
}

.intro{
    width: 50%;
    margin: auto;
}

p{
    line-height: 2;
    font-weight: 500;
    
}

.skill-row{
    width: 50%;
    margin: 100px auto; /*this will centered the skill row */
    text-align: left;
    line-height: 2;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    }


.my-image{
    border-radius: 50%;
}
.web-img{
    border-radius: 40%;
    width: 25%;
    float: left;
    margin:0 40px 0 0;
}

/* .web-img-para{
    clear: left; */
/* } */

.DevOps-img{
    width: 25%;
    border-radius: 30%;
    float: right; /*text is for floating arount the image on the right side, don't use float for positioning use when it is very important */
    margin:0 0 0 40px; /*use float for wrapping the text around the image only*/
}
/* .DevOps-img-para{
    clear: right;
    /* clear the text which was wrapped arount the image to the right side */

.Contact-message{
    width: 40%;
    margin: 40px auto 60px ;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

a{
    margin: 10px 20px;
    color: #11999E;
    font-style:  'Montserrat', sans-serif ;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;

}
.trade-mark{
    color: #EAF6F6;
    font-size: 0.75rem;
    font-style:  'Montserrat', sans-serif ;
    padding: 20px 0;
}